.LoginPage{
    text-align: center;
}

.Login{
font-family: Sansation Light;
font-style: normal;
font-weight: 300;
font-size: 128px;
line-height: 143px;

color: #FFFFFF;
}

.label{
font-family: Sansation Light;
font-weight: 300px;
font-size: 50px;
line-height: 56px;
width: 500px;

color: #FFFFFF;
}

.input{
background: #51CF25;
font-family: Sansation Light;
font-style: normal;
font-weight: 800;
height: 60px;
width: 300px;

}

.button{

font-family: Sansation Light;
font-style: normal;
font-weight: 300;
font-size: 36px;
border-radius: 60%;
width:200px;
height:80px;

color: #FFFFFF;
background: #51CF25;

}