html{
    font-family: 'Lato', sans-serif;
    background: lightblue url("./images/leaves/leaves.jpg") no-repeat;
    background-size: cover;
}

ul{
    margin-top: 0px;
}


.LoginPage{
    text-align: center;
}
.logindiv{
    text-align: center;
}


.loginForm{
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(70,121,9,1) 0%, rgba(101,182,29,1) 0%, rgba(70,224,255,1) 85%);
    margin: 250px 700px;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Login{
font-style: normal;
font-weight: 300;
font-size: 128px;
line-height: 143px;

color: #FFFFFF;
}

.label{
font-family: 'Lato', sans-serif;
font-weight: 100px;
font-size: 20px;
line-height: 56px;

color: #021d02;
}

.input{
background: #f7f1ea;
text-align: center;
font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: normal;
height: 20px;
width: 300px;
border: fill;
border-radius: 8px;
}

.lgbutton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 30px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }

.lgbutton:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
      
}

