.mappage{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) , url("./images/leaves/nyc.jpg") no-repeat;
    background-size: cover;
    
    color: limegreen;
}

.map{
    margin: 0px 500px;
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: center;

   
}

.gmap{
    height: 500px;
}

.mapform{
    text-align: center;
}

.borough {
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;

}

.mapButton{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 300px;
    height: 50px;
    margin: 4px 2px;
    margin-bottom: 75px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    }
  
    .mapButton:hover{
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        
  }
  
  ol{
    margin: 0px;
  }

  .titleMap{
    margin-top: 0px;
    padding-top: 30px;

}
/* .titleMap{
    position: center;
    width: 771px;
    height: 124px;
    left: 512px;
    top: 157px;
    text-align: center;

}

.borough {
    position: absolute;
    width: 366px;
    height: 40px;
    left: 290px;
    top: 708px;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;

}

.inputTwo {
    width: 460px;
    height: 39px;
    left: 710px;
    top: 708px;

    background: #C4C4C4;
}

.mapButton {
    position: absolute;
    left: 37.71%;
    right: 37.78%;
    top: 79.39%;
    bottom: 10.55%;
    border-radius: 60%;
    width:200px;
    height:80px;
    font-size: 40px;
    font-family: Trebuchet MS;
    color: #FFFFFF;
    background: #51CF25
} */