.titleMap{
    position: center;
    width: 771px;
    height: 124px;
    left: 512px;
    top: 157px;
    text-align: center;

}

.borough {
    position: absolute;
    width: 366px;
    height: 40px;
    left: 290px;
    top: 708px;
    font-family: Trebuchet MS;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 40px;

}

.inputTwo {
    width: 460px;
    height: 39px;
    left: 710px;
    top: 708px;

    background: #C4C4C4;
}

.mapButton {
    position: absolute;
    left: 37.71%;
    right: 37.78%;
    top: 79.39%;
    bottom: 10.55%;
    border-radius: 60%;
    width:200px;
    height:80px;
    font-size: 40px;
    font-family: Trebuchet MS;
    color: #FFFFFF;
    background: #51CF25
}