.main{
  font-family: 'Lato', sans-serif;
  text-align: center;
  background: lightblue url("./images/leaves/can.jpg") no-repeat;
    background-size: cover;
    height: 91.5vh;
}

#main-text{
  color:#23c214;
  font-size: 200px;
  margin: 0px;
}

#slogan{
  font-style: italic;
  color:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(70,121,9,1) 0%, rgba(101,182,29,1) 0%, rgba(70,224,255,1) 85%);
  border: mediumorchid;
}

ul{
  margin: 0px;
}

.why{
  text-align: center;
}

#why{
  margin-left: 300px;
  margin-right: 300px;
  color: #23c214;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

/* .textBoxOne{
  position: absolute;
  width: 663px;
  height: 356px;
  left: 57px;
  top: 170px;

  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;

  color: black;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #51cf25;
}

.imgOne{
  position: absolute;
  width: 657px;
  height: 362px;
  left: 768px;
  top: 164px;

}

.textBoxTwo{
  position: absolute;
  width: 663px;
  height: 356px;
  left: 768px;
  top: 614px;
    
  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 27px;
    
  color: black;

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #51cf25;
}

.imgTwo{
  position: absolute;
  width: 657px;
  height: 362px;
  left: 57px;
  top: 614px;
} */